.container {
  display: flex;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  color: #ffffff;
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #d1d1d1;
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  background-color: #d1d1d1;
}

:global([class*='ant-layout']) .siderCustom :global(.ant-layout-sider-zero-width-trigger-left) {
  position: absolute !important;
  inset-inline-end: -20px !important;
  width: 20px !important;
  height: 20px !important;
  top: 40px !important;
}
