/*
 * DaaS-nodejs 2024 (@) Sebyone Srl
 *
 * File: Dashboard.module.css
 *
 * This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
 * If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
 * This Source Code Form is "Incompatible With Secondary Licenses", as defined by the MPL v.2.0.
 *
 * Contributors:
 * francescopantusa98@gmail.com - initial implementation
 *
 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
}

.customStatistic :global(.ant-card-body) {
  padding: 32px;
}

.customStatistic :global(.ant-statistic-content) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customStatistic :global(.ant-statistic-content-prefix) {
  font-size: 32px;
}

.customStatistic :global(.ant-statistic-content-value) {
  font-size: 32px;
}

.customStatistic :global(.ant-statistic-title) {
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}
