:global([class*='ant-layout']) .siderCustom :global(.ant-layout-sider-zero-width-trigger-left) {
  position: absolute !important;
  inset-inline-end: -20px !important;
  width: 20px !important;
  height: 20px !important;
  top: 0 !important;
  display: flex !important;
  justify-content: center !important;
}
